extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(user, 'firstName', t('views.users.new.firstname'), errors)(type="text")
    +input(user, 'lastName', t('views.users.new.lastname'), errors)(type="text")
    +input(user, 'email', t('views.users.new.email'), errors)(type="email")
    +input(user, 'password', t('views.users.new.password'), errors)(type="password")
    +submit()(value=t('views.users.new.submit'))