extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(user, 'Имя', errors)(type="text")
    +input(user, 'Фамилия', errors)(type="text")
    +input(user, 'Email', errors)(type="text")
    +input(user, 'Пароль', errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))