extends /layouts/main.pug

block title
  title= t('views.pages.login.title')

block main
  div(class="container wrapper flex-grow-1")
    .text-center
      h1(class="my-4")= t('views.pages.login.title')
    form(action= urlFor('newSession') method="POST") 
      .form-group
        label(for="email")= t('views.pages.login.email')
        input(value type="text" class="form-control" name="email" id="email"  placeholder="Enter email")
      .form-group
        label(for="password")= t('views.pages.login.password')
        input(value type="password" class="form-control" name="password" id="password" placeholder="Enter password")
      .form-group
        input(type="submit" class="btn btn-primary" value="Войти")
    .text-center
      p(class="pt-3")
        a(class="text-light" href= urlFor('newUser'))= t('views.pages.login.notRegistered')