extends ../layouts/application.pug

block header
  = t('views.labels.new.create')

block content
  +formFor()(action=route('labels') method='post')
    +input(status, 'name', t('views.labels.new.name'), errors)(type="text")
    +submit(user)(value=t('views.labels.new.submit'))