extends ../layouts/application.pug

block header
  = t('views.tasks.edit.edit')

block content
  +formFor()(action=`/tasks/${task.id}` method='post')
    +input(task, 'name', t('views.tasks.edit.name'), errors)(type="text")
    .form-group
        label(for="data_description")= t('views.tasks.edit.description')
        textarea.form-control(id="data_description" name="data[description]" rows="3")= task.description
    +select(task, statuses, 'statusId', t('views.tasks.edit.status'), errors)
    +select(task, executors, 'executorId', t('views.tasks.edit.executor'), errors)
    +select(task, labels, 'labels', t('views.tasks.edit.labels'), errors)(multiple="multiple")
    +submitPatch()(value=t('views.tasks.edit.submit'))